<input type="text" placeholder="Search" ng-model="SearchString"/>
<div id="bookLists">
    <ul ng-repeat="books in bookList | filter : SearchString">
        <li>{{books.bookName | uppercase}}</li>
        <li>{{books.bookprice | currency:'Rs.'}}</li>
        <li style=" background:white url(imgs/{{books.bookImage}}); height:50px;"></li>
        <li>{{books.bookDescription}}</li>
        <li>{{books.bookRating}}</li>
        <button type="submit" ng-click="addToKart(books)">Add To Kart</button>
    </ul>
</div>